<p id="notice"><%= notice %></p>
<div class="container">

<h1>Haz Amigos</h1>

<% @pets.each do |pet| %>
  <div class="card" style="width: 18rem;">
    <%= image_tag pet.image.url, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= pet.name %></h5>
      <p class="card-text"> Mi raza es: <%= pet.raza %> <br>
                            Soy un: <%= pet.tipo%> <br>   
                            Soy de: <%= pet.ciudad %><br>
                            Me interesa:  <%= pet.interes %></p>
    </div>
  </div>
<% end %>
</div>

<%= link_to 'New Pet', new_pet_path %>

