<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @pet.raza %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pet.tipo %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @pet.ciudad %>
</p>

<p>
  <strong>Interes:</strong>
  <%= @pet.interes %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
